<div class="card-cat">
    <div class="card-img-cat">
        <img src="{{url}}" alt="{{breeds.name}}">
    </div>
    <div class="card-info">
        <h2 class="card-title">{{breeds.name}}</h2>
        <p class="card-description">{{breeds.description}}</p>
        <p class="cat-temperament"><b>{{breeds.temperament}}</b></p>
    </div>
</div>